<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add New Employee</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">
        <style>
            .container {
                margin-top: 5rem;
                width: 50%;
            }
        </style>
    </head>

    <body>
        <%- include('partials/header') -%>
        <div class="container">
            <h2 class="mb-4">Add New Employee</h2>
            <form action="/employee/new" method="POST">
                <input type="text" name="name" class="form-control my-3" placeholder="Employee Name" />
                <input type="text" name="designation" class="form-control my-3" placeholder="Employee Designation" />
                <input type="text" name="salary" class="form-control my-3" placeholder="Employee Salary" />
                <button type="submit" class="btn btn-danger btn-block mt-3">Add to Database</button>
            </form>
        </div>
        <%- include('partials/footer') -%>

        <!-- Add your JS scripts here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
