<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search Employee</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <style>
            .container {
                margin-top: 5rem;
                width: 50%;
            }
        </style>
    </head>

    <body>
        <%- include('partials/header') -%>
        <div class="container">
            <h2 class="mb-4">Search Employee</h2>
            <form action="/employee" method="GET">
                <input type="text" name="name" class="form-control" placeholder="Employee Name" />
                <button type="submit" class="btn btn-danger btn-block mt-3">Search in Database</button>
            </form>
            <div>
                <h4 class="text-danger my-4">Search Results:</h4>
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert alert-danger mt-4">Employee does not exist with this name.</div>
        </div>
        <%- include('partials/footer') -%>

        <!-- Add your JS scripts here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
